<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" 
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
	<title>{% block title %} Django todo {% endblock title %}</title>
	{% block extrahead %}{% endblock extrahead %}
</head>

<body>
	<header>
		<!-- Fixed navbar -->
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<a href="{% url 'home' %}" class="navbar-brand my-0 mr-md-auto font-weight-normal">DJANGO-TODO</a>
			<nav class="my-2 my-md-0 mr-md-3">
				{% if user.is_authenticated %} 
				<a href="{% url 'todo:lists' %}" class="p-2 text-dark">To-do Lists</a>
				<a href="{% url 'todo:mine' %}" class="p-2 text-dark">My Tasks</a>
				<a href="{% url 'account_logout' %}" class="p-2 text-dark">Log Out</a>
				{# Simulate external user adding ticket #}
				<a href="{% url 'todo:external_add' %}" class="p-2 text-dark">File Ticket</a>
				<a href="{% url 'todo:import_csv' %}" class="p-2 text-dark">Import</a>
				{% else %}
				<a href="{% url 'account_login' %}" class="nav-link">Log In</a>
				<a href="{% url 'account_signup' %}" class="btn btn-outline-primary"> Sign Up</a>
				{% endif %}

				{% if user.is_authenticated %}
				<form class="form-inline mt-2 mt-md-0" action="{% url 'todo:search' %}" method="get" placeholder="Search" aria-label="Search">
				<input type="text" name="q" value="" class="form-control mr-sm-2" id="q">
				<input type="submit" value="Search Tasks" class="btn btn-outline-success my-2 my-sm-0">
				</form>
				{% endif %}
			</nav>
		</div>
	</header>
		<main role="main" class="container">
			{% if messages %}
				{% for message in messages %}
				<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
				{% endfor %}
			{% endif %}
				{% block content %}

				{% endblock %}
		</main>
		<footer class="footer">
			<div class="container">
			  <span class="text-muted">
				django-todo, {% now "Y" %}.
				{% if user.is_authenticated %}Logged in as {{ user.username }}{% endif %}</span>
			</div>
		</footer>	  
</body>

	{% block extra_js %}
	{% endblock extra_js %}

	{% block javascript %}
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	{% endblock javascript %}
</html>